.room {
    background-color: black;
    height: 100vh;
    color: white;
}

.applicant-window {
    height: 85%;
    background-color: antiquewhite;
    display: flex;
}

.room-btn {
    display: flex;
    width: 400px;
    margin-left: 30%;
    margin-right: 50%;
    justify-content: space-around;
    margin-top: 20px;
}

.room-btn button {
    color: white;

}

.leave {
    width: 160px;
    display: flex;
  align-items: center;
  gap: 16px;
  padding: 20px 24px;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 14px;
  font-weight: 500;
  backdrop-filter: blur(10px);
  position: relative;
  overflow: hidden;
}

.loader-container{
    background-color: rgba(255, 99, 71, 0.534);
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid red;
    border-radius: 10px ;
}

.loader {
  border: 6px solid #f3f3f3b8;
  border-top: 6px solid #e5ebeea4;
  border-radius: 50%;
  background-color: transparent;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.mic-on{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 16px;
    width: 160px;
    height: 60px;
    border-radius: 10px;
    background-color: rgba(0, 0, 255, 0.333);
    position: relative;
    border: 2px solid blue;
}

.mic-off{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    width: 160px;
    height: 60px;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.333);
    position: relative;
    border: 2px solid rgb(255, 0, 17);
}

.mic {
    cursor: pointer;
    background-color: transparent;
    border: transparent;
}

.applicant {
width: 55%;
}
.applicant video{
    padding: 0%;
    margin: 0%;
    height: 100%;
    width: 100%;
    z-index: 100;
}

.multiple-face{
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    width: 300px;
    padding:10px ;
    border-radius: 10px;
    margin-left: 80%;
    position: fixed;

}
.multiple-face span{
    border-bottom: red 2px solid;
    padding-bottom: 5px;
    margin-bottom: 5px;
    
}

.interviewer {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(pink, red);

}

.interviewer audio{
    display: none;
}

.interviewer div {
    height: 170px;
    width: 170px;
    position: fixed;
    opacity: 0.5;
    border-radius: 50%;
    filter: blur(0.4);
    background-color: aliceblue;
    animation: beats 0.5s infinite forwards;
}

@keyframes beats {
    0% {
        height: 170px;
        width: 170px;
    }

    25% {
        height: 200px;
        width: 200px;
    }

    30% {
        height: 200px;
        width: 200px;
    }

    50% {
        height: 220px;
        width: 220px;
    }

    75% {
        height: 200px;
        width: 200px;
    }

    80% {
        height: 200px;
        width: 200px;
    }

    100% {
        height: 170px;
        width: 170px;
    }
}